* {
	box-sizing: border-box;
}
h1{
	text-align: center;
}
p{
	padding:5px 10px;
}
.row{
	width: 100%;
	margin-bottom:30px;
}
.row section{
	background-color: #808080;
	position:relative;
}
.title, .title2, .title3{
	margin:0;
	padding:0;
	text-align: center;
	width: 100px;
	height:auto;
	border-width: 0 0 2px 2px;
	border-style: solid;
	border-color: #000000;
	position:absolute;
	top: 0;
	right: 0;
}
.title{
	background-color: #d59898;
}
.title2{
	background-color: #c14543;
	color:#ffffff;
}
.title3{
	background-color: #e5d198;
}
/*****Desktop view only*****/
@media (min-width: 992px) {
	.col-lg-4 {
    border: 2px solid #000000;
    margin: 10px 0.5% 10px 0.5% ;
    float: left;   
    width: 32.33%;
  }
}

/*****Tablet view only*****/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
    border: 2px solid #000000;
    margin: 10px 0.5% 10px 0.5% ;
    float: left;   
  }
	.col-md-6 {    
    width: 49%;
  }
  .col-md-12 {
    width: 99%;
  }
}

/*****Mobile view only*****/
@media (max-width: 767px) {
	.col-xs-6 {
    float: left;
    border: 2px solid #000000;
    margin: 10px 0.5% 10px 0.5% ;
    width: 99%;
  }
}